<div class="container">
  <h1>Register</h1>
<form [formGroup]="interested_person" (ngSubmit)="submit()">
    <div class="form-group">

        <input type="text" id="name" placeholder="name" formControlName="name" required><br>
        <div *ngIf="name?.invalid && name?.touched">
          <div *ngIf="name?.errors">
            name is required! minlength=4 maxlength=25
          </div>
        </div>



        <input type="number" name="age" placeholder="age" formControlName="age"><br>

        <input type="text" name="location" placeholder="country--edit" formControlName="location">
        <h3>Login</h3>
        <hr>
        <div formGroupName="login">

            <input type="email" name="email" placeholder="email" id="email" formControlName="email"><br>


            <input type="password" name="password" id="password" placeholder="password" formControlName="password"><br>
        </div>

        <button class="submit" type="submit" (click)="updateData()" [disabled]="!interested_person.valid">Submit</button>
</div>
</form>


<button (click)="getTest()">Test</button>

    <div>
      <div *ngFor="let d of data">
          {{d.fname}}
      </div>

    </div>

</div>
